:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

    --color--user--:#3c9977;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
  }
  
  .layout{ 
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  /* GENERAL */
  a:link,
  a:visited {
    color: var(--color-brand--1);
  }
  
  /* SIDEBAR */
  .sidebar {
    background-color: var(--color-dark--1);
    padding: 6.4rem 2rem;
    height: 100vh;
  }
  
  .logotype {
    font-size: 5.6rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: var(--color-light--2);
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .img-logo{
    width: 5rem;
  }
  
  .sidebar__buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    pointer-events: auto;
  }
  
  .sidebar__button {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    background: linear-gradient(135deg, #1e8c7f, #188e74, #18856d, #1b6e59);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none; /* Remove default focus outline */
    z-index: 100;
}

.sidebar__button:hover {
    background: linear-gradient(135deg, #1b786a, #166e61, #16685b, #195246); /* Darker shades on hover */
}


/* Style the scrollbar for WebKit browsers (Chrome, Safari) */
.workouts::-webkit-scrollbar {
  width: 1rem; /* Adjust width to be a bit thicker */
}

/* Track */
.workouts::-webkit-scrollbar-track {
  background: var(--color-dark--2); /* Use a dark background color */
  border-radius: 10px; /* Round the corners */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Add inner shadow for depth */
}

  .workouts {
    max-height: 40rem;
    padding: 0 1rem;
    list-style: none;
    overflow-y: scroll;
  }

  .workout {
    color: var(--color-light--2);
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem 1.5rem;
  }

  .workout--running {
    border-left: 5px solid var(--color-brand--2);
  }

  .workout--cycling {
    border-left: 5px solid var(--color-brand--1);
  }

  .current--workout{
    border-left: 5px solid var(--color-light--3);
  }

  .workout__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    grid-column: 1 / -1;
  }
  
  .workout__details {
    display: flex;
    align-items: baseline;
  }
  
  .workout__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
  }
  
  .workout__value {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }
  
  .workout__unit {
    font-size: 1.4rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .form, .form-workout {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2.5rem;
    color: var(--color-light--2);
    align-items: center;

    /* Match height and activity boxes */
    transition: all 0.5s, transform 1ms;
  }
  
  .form.hidden,
  .empty-container.hidden,
  .sidebar__buttons.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
    pointer-events: none;
  }

  .form-workout.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }

  
  .form__row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .form__row--hidden {
    display: none;
  }
  
  .form__label {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .form__input {
    flex: 1.5;
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
  }
  
  .form__input:focus {
    outline: none;
    background-color: #fff;
  }
  
  .form__btn {
    font-size: 1.8rem; /* Increased font size for better readability */
    padding: 1.2rem 2rem; /* Increased padding for a larger button */
    margin: 1.5rem 0;
    background: linear-gradient(135deg, #ffb545, #ff9f00); /* Gradient background */
    color: var(--color-dark--1);
    border-radius: 5px; /* Slightly larger border radius */
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    transition: all 0.3s ease; /* Smooth transition effect */
  }
  
  .form__btn:hover {
    background: linear-gradient(135deg, #ff9f00, #e68a00); /* Darker gradient on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
  }

  .tips{
    text-align: center;
    color: var(--color-light--1);
    margin:2rem  0  2rem;
    font-size: 2rem;
  }
  
  .map-link{
    font-size: 10px;
  }

  .copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light--1);
  }
  
  .twitter-link:link,
  .twitter-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
  }
  
  .twitter-link:hover,
  .twitter-link:active {
    color: var(--color-light--2);
  }
  
  /* MAP */
  #map {
    background-color: var(--color-light--1);
    width: 100%;
    height: 100vh;
  }
  
  /* Popup width is defined in JS using options */
  .leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
  }
  
  .leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
  }
  
  .leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
  }
  
  .running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
  }
  .cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
  }

  .user-popup .leaflet-popup-content-wrapper{
    border-left: 5px solid var(--color--user--)
  }

  .leaflet-current__popup-content-wrapper{
    border-left: 5px solid var(--color-light--1);
    background-color: var(--color-dark--2);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
    box-shadow: 0px 2px 5px #010000;
  }


/* Hide the aside from the library (L.Routing...) -v-'  */
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

/*modal*/
.modal{
  height: 100vh;
  padding:9.8rem;
  display: none;
}

.modal-text{
  font-size:2rem;
  line-height: 1.5;
  font-weight: 500;
  color: #010000;
  margin-bottom: 2rem;
}

.link:link,
.link:visited{
  color:#ffb545;
  font-size: 1.4rem;
}

@media (max-width:110em) {
  html{
    font-size: 50%;
  }

  .form__btn--add{
    margin: 3rem 0 0;
  }
  
  .layout {
    grid-template-columns: 1fr 2fr;
  }

  .sidebar__buttons{
    grid-template-columns: 1fr 1fr;
  }

  .form{
    grid-template-columns: 1fr;
    gap: 2rem;
  }


  .form__btn{
    font-size: 1.8rem;
    padding: 1rem;
  }

  .form{
    font-size: 1.8rem;
  }

  .form__label{
    flex:1 1 20%;
  }

  .form__input{
    flex:3 1 80%;
    padding: 1rem 2rem;
  }
}

/* Empty container */
.empty-container{
  position: relative;
  width: 100%;
  padding-top: 100%;
  pointer-events: none;
}

.empty-image{
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  left: 0;
}

.empty-container::before{
  content: "Create a workout, all you have to do is just click on the map";
  position: absolute;
  top:0;
  right: 10%;
  width: 40%;
  font-size: 1.6rem;
  display: inline-block;
  background-color: var(--color-light--2);
  padding: 4rem;
  border-radius: 11px;
}


@media (max-width:60em){
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    height: auto;
    padding: 4rem 2rem;
    order: 1;
  }
  
  #map{
    order: 0;
    height: 85vh;
  }
}


@media (max-width:30em){
  html{
    font-size: 40%;
  }
}